@page "/"
<h3>Lifecycle Demos</h3>

<ul>
    <li><NavLink href="/lifecycledemos/lifecycle1">lifecycle 1 - basic</NavLink> </li>
    <li><NavLink href="/lifecycledemos/lifecycle2">lifecycle 2</NavLink> </li>
    <li><NavLink href="/lifecycledemos/prerendering-demo">Prerendering</NavLink> </li>
    <li><NavLink href="/lifecycledemos/async-data-loading">Async data loading</NavLink> </li>
</ul>
@code {

}
