@page "/lifecycledemos/lifecycle1"

@inject IJSRuntime JS

<h3>LifeCycle1</h3>

<p>This demonstrates a plain lifecycle. MAke sure to check the console.</p>
<p>
    <div>@_counter</div>
    <ul>
        @foreach (var e in _events)
        {
            <li>@e</li>
        }
    </ul>
</p>
<button @onclick="LogSeparator">Log Separator</button>
@code {

    private int _counter = 0;
    private List<string> _events = new List<string>();

    public LifeCycle1()
    {
        Console.WriteLine($"\nConstructor of {GetType().Name}");
    }

    protected override Task OnInitializedAsync()
    {
        Log("OnInitializedAsync", ConsoleColor.Red);

        return base.OnInitializedAsync();
    }

    protected override Task OnParametersSetAsync()
    {
        Log("OnParametersSetAsync", ConsoleColor.Yellow);
        return base.OnParametersSetAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Log($"OnAfterRenderAsync(firstRender = {firstRender})", firstRender ? ConsoleColor.Cyan : ConsoleColor.DarkCyan);

  
        return base.OnAfterRenderAsync(firstRender);
    }

    private void Log(string e, ConsoleColor color = default)
    {
        var e2 = $"{e} {(JS.IsPreRendering() ? "(pre-render)" : "")}";

        if (color != default) Console.ForegroundColor = color;
        Console.WriteLine($"! {e2}");
        if (color != default) Console.ResetColor();

        _events.Add(e2);
    }

    private void LogSeparator()
    {
        Log("------------------");
    }

}
